[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
selenium = "*"
pyvirtualdisplay = "*" # required Xvfb when running on Ubuntu Server
requests = "*" # make web request normally
psycopg2-binary = "*"
pytest = "*"
python-dateutil = "*"
pytz = "*"
dotenv = "*"

[requires]
python_version = "3.6"
