[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
#selenium ie. automation-testing framework
#selenium = "*"        # latest version #TODO re-enable this when the bug below is solved i.e. https://github.com/SeleniumHQ/docker-selenium/issues/521#issuecomment-315665029
selenium = "==3.11.0"  # required this version to dodge the bug ref. https://github.com/SeleniumHQ/docker-selenium/issues/521#issuecomment-315665029
pyvirtualdisplay = "==0.2.1" # required Xvfb when running on Ubuntu Server

requests = "==2.20.0" # make web request normally
psycopg2-binary = "==2.7.4"

pytest = "==3.5.0"

# misc
python-dateutil = "==2.7.3"
pytz = "==2018.4"


[requires]
python_version = "3.6"

